.products__container {
  .products__topBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .products__sort {
      margin-left: auto;
      .sort__button {
        color: #111111;
        font-family: 'Open Sans';
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;
        border: 1px solid #c2c4c8;
        background-color: inherit;
        padding: 7px 16px;
        cursor: pointer;
      }
    }
  }

  .products__catalog {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 30px;
  }
}
