@import '../../variables.scss';

.catalog-page {
  padding: 20px 0 40px;

  .catalog-page__container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;

    .catalog-page__navigation {
      .catalog-page__navigation-link {
        font-family: 'Open Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-decoration: none;
        color: #000000;
      }

      .catalog-page__navigation-divider {
        margin: -5px 13px 0 13px;
      }

      .catalog-page__navigation-unactiveLink {
      }
    }

    .catalog-page__setts {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      .catalog-page__setts-buttonsGroup {
        display: flex;
        align-items: center;

        .catalog-page__setts-buttonsGroup__appearance {
          display: flex;

          li {
            display: flex;
            align-items: center;
            list-style: none;
            margin-right: 10px;
            padding: 10px 20px;
            border: 1px solid #c2c4c8;
            cursor: pointer;
            border-radius: 2px;
            transition: 0.2s all linear;

            svg {
              margin-right: 5px;

              @media screen and (max-width: 900px) {
                margin: 0 auto;
              }
            }

            span {
              @media screen and (max-width: $tabletScreen) {
                display: none;
              }
            }

            &:hover {
              background-color: #3e3eac;
              color: #fff;

              svg {
                fill: #fff;
              }
            }

            @media screen and (max-width: $tabletScreen) {
              padding: 10px;
            }
          }
        }

        .catalog-page__setts-buttonsGroup__showfiltersButton {
          background: #3e3eac;
          border-radius: 2px;
          border: none;
          outline: none;
          padding: 10px 20px;
          color: #fff;
          cursor: pointer;
          border: 1px solid transparent;
        }
      }
    }

    .catalog-page__main {
      display: flex;

      .catalog-page__main-content {
        width: 100%;
      }
    }
  }
}

.sideEnter {
  transform: translateX(-350px);
  opacity: 0;
}
.sideEnterActive {
  transform: translateX(0px);
  opacity: 1;
  transition: opacity 200ms, transform 200ms;
}
.sideExit {
  transform: translateX(0);
  opacity: 1;
}
.sideExitActive {
  transform: translateX(-350px);
  opacity: 0;
  transition: opacity 200ms, transform 400ms;
}

.sideExitDone {
  display: none;
}
