.main__sidefilters {
  flex-basis: 200px;
  flex-shrink: 0;
  margin-right: 20px;

  ul {
    display: flex;
    flex-direction: column;

    .sidefilters__item {
      width: 100%;
      color: #494949;
      cursor: pointer;
      list-style: none;

      .sidefilters__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0;

        span {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: #494949;
        }
      }

      .sidefilters__variants {
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;

        ul {
          li {
            list-style: none;
            padding: 6px 0;

            .sidefilters__checkbox {
              margin-right: 11px;
            }

            .sidefilters__text {
              color: #737373;
              font-family: 'Open Sans';
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 19px;
              margin-top: -2px;
            }
          }
        }
      }
    }
  }
}

// .alert-enter {
//   opacity: 0;
//   transform: scale(0.9);
// }
// .alert-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: opacity 200ms, transform 200ms;
// }
// .alert-exit {
//   opacity: 1;
// }
// .alert-exit-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 200ms, transform 200ms;
// }

.side-enter {
  transform: scale(0.9);
}
.side-enter-active {
  left: -50px;
  transform: translateX(50deg);
  transition: opacity 200ms, transform 200ms;
}
.side-exit {
  opacity: 10;
}
.side-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}
